# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# User configurations and local data
config.json
*.log

# Media / Recordings / Snapshots
*.mp4
*.avi
*.mkv
*.jpg
*.jpeg
*.png

# Environments & IDEs
.env
.venv
env/
venv/
.idea/
.vscode/
*.swp
*~
